
body {
  background-color: bisque;
}
.game-content{
  display: flex;
  height: 105vh;
  width: 95vw;

}
header {
  border: 1px solid black;
  text-align: center;
  font-size: 300%;
  margin-bottom: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
}
aside{
  float: left;
  border: 1px solid black;
  margin-right: 5%;
  width: 30%;
  text-align: center;
  font-size: 150%;
  align-items: center;
  padding-top: 1%;
}
aside div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  height: 12.5%;
  margin: 4%;
  background-color: lightblue;
  font-size: 80%;
}
main{
  float: left;
  border: 1px solid black;
  width: 130%;
  /* height: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  height: 80%;
  margin: 2% 0%;
  width: 100%;

}
.card-container{
  display: inline-flex;
  justify-content: center;
  flex-flow: row wrap;

}
.card{
  width: 80%;
  height: 100%;
  background-color: black;
  border: 1px solid white;
  margin: 0% 1%;
  position:relative
}

.back, .front , .lfz-card, .react-logo, .yugi-back, .bewd{
  background-position: center;
  background-size: cover;
  height: 105%;
  width: 100%;
  background-repeat: no-repeat;
}

.yugi-back {
  background-image: url("../images/cardback.jpg");
  position: absolute;
}

.react-logo{
  background-image: url("../images/react-logo.png");
}

.docker-logo{
  background-image: url("../images/docker-logo.jpg");
}
.bewd{
  background-image: url("../images/bewdcrop.png");
}
.hidden{
  display: none;
}

.showing{
  transform: rotateY(180deg);
  /* display: block; */
}
