body {
  background-color: black;
  background-image: url("../images/puzzleback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  overflow: hidden;
}
@font-face{
  font-family: Matrix-Bold;
  src: url("../fonts/Matrix-Bold.ttf");
}
@font-face{
  font-family: Midnight-Moon;
  src: url("../fonts/Midnight-Moon.ttf");
}

.game-content{
  display: flex;
  height: 85vh;
  width: 98vw;

}

header {
  border: 1px solid bisque;
  font-size: 250%;
  padding: .5%;
  margin-bottom: 2%;
  width: 99%;
  display: flex;
  justify-content: center;
  font-family: Matrix-Bold;
  color: goldenrod;
}
aside{
  border: 1px solid bisque;
  margin-right: 2%;
  width: 15%;
  height: 80vh;
  text-align: center;
  align-items: center;
  padding-top: 1%;
  color: red;
  font-size: 1.5rem;
}
aside div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid bisque;
  height: 12.5%;
  margin: 8% 4%;
  background-color: goldenrod;
  font-family: Matrix-Bold;
  color: black;
}

.turnInfo{
  color: goldenrod;
  background-color: black;
}

.cpuLife, .playerLife{
  font-size: 90%;
}
.lifeBar{
  background-color: green;
  border: 1px solid sandybrown;
  width: 95%;
  height: 25%;
  transition: 500ms;
}
.hpBar-1st{
  width: 75%
}
.hpBar-2nd{
  width: 55%;
}
.hpBar-3rd{
  width: 30%;
}
.hpBar-4th{
  width: 15%;
  background-color: red;
}
.hpBar-empty{
  width: 0%;
}


main{
  border: 1px solid bisque;
  width: 85%;
  height: 80vh;
  display: flex;
  padding-bottom: 1%;
  perspective: 600px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.card{
  width: 15%;
  height: 28%;
  position: relative;
  background-size: contain;
  transition: transform .6s;
  transform-style: preserve-3d;
  background-position: center;
  border-radius: 4%;
  background-image: url("../images/cardback.jpg");
  background-repeat: no-repeat;
}

.front:hover {
  transition: transform .25s;
  transform: scale(1.08);
  cursor: pointer;
}

.back{
  transform: rotateY( -180deg );
  backface-visibility: hidden;
}

.flip{
  transform: rotateY(180deg);
}


#winModal {
  display: none;
  flex-direction: column;
  text-align: center;
}
#openingModal {
  display: flex;
  flex-direction: column;
  background-image: none;
  color: black;
  text-align: center;
}

.modalFooter,
.modalTitle {
  font-family: Midnight-Moon;
  font-size: 1.7rem;
}

.volumeToggle:hover,
.light-sword:hover,
#start:hover,
.again:hover {
  cursor: pointer;
}

#start {
  width: 50%;
  height: 15%;
  margin-top: 10%;
}

.modalFooter {
  background-color: white;
  padding: 1%;
  width: 25%;
  margin: auto;
  border-radius: 5px;
}
.modal{
  position: fixed;
  z-index: 1;
  background-color: rgb(199, 186, 153);
  width: 70%;
  height: 60%;
  justify-content: center;
  left: 15%;
  top: 10%;
  border-radius: 10%;
  background-image: url("../images/blasted.gif");
  background-size: cover;
  background-position: center;

}

.openingBack {
  background-color: black;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
}

.modalContent{
  opacity: .9;
  background-blend-mode: lighten;
  margin: .1% auto;
  padding: 0%;
  width: 100%;
  height: 30%;
  border-radius: 5px;
  color: purple;
  font-size: 2.2rem;
  font-family: Matrix-Bold;
  text-align: center;

}

.modalContent > button{
  align-content: center;
  height: 75%;
  width: 75%;
  border-radius: 5%;
  font-family: Midnight-Moon;
  font-size: 70%;
}

.back, .front , .lfz-card, .react-logo, .yugi-back{
  background-position: center;
  object-fit: contain;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 4%;
}

.light-sword {
  background-position: center;
  object-fit: contain;
  background-size: contain;
  height: 50%;
  width: 80%;
  background-repeat: no-repeat;
  border-radius: 4%;
  margin: auto;
}

.yugi-back {
  background-image: url("../images/cardback.jpg");
  position: absolute;
}

.left-arm{
  background-image: url("../images/leftArm.jpg");

}

.exodia-head{
  background-image: url("../images/exodiaHead.jpg");

}
.blue-eyes{
  background-image: url("../images/bewd.jpg");
}
.right-arm{
  background-image: url("../images/rightArm.jpg");
}
.right-leg{
  background-image: url("../images/rightLeg.jpg");
}
.left-leg{
  background-image: url("../images/leftLeg.jpg");
}
.dark-mag{
  background-image: url("../images/darkMag.jpg");
}
.summoned-skull{
  background-image: url("../images/summSkull.jpg");
}
.red-eyes{
  background-image: url("../images/redEye.jpg");
}
.light-sword{
  background-image: url("../images/swords.jpg");
}
.turnInfo:hover {
  transition: .5s;
  cursor: pointer;
}

.hidden{
  animation: fadeout 0.4s forwards;
  display: none;
}

.matches {
  border: none;
  background-color: transparent;
}

.concedeContainer {
  padding-top: 2rem;
}

.soundText {
  color: black;
  font-size: 2rem;
}

.volumeToggle {
  color: red;
  text-align: center;
  font-size: 3rem;
  padding-right: 1.1rem;
  margin: auto;
  float: right;
}
.volumeContainer {
  display: flex;
  width: 100%;
}

.showConcede {
  text-align: center;
  font-size: 3rem;
  color: white;
  background-color: goldenrod;
  transition: .5s ease-in-out;
  position: absolute;
  right: 2px;
  animation: fadein 0.4s forwards;
  width: 20%;
  z-index: 10;
  opacity: 90%;
  height: 82%;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 90%; }
}

@keyframes fadeout {
  0%   { opacity: 90%; }
  100% { opacity: 0; }
}


@media only screen and (max-device-width: 1460px) and (orientation: portrait),
(max-width: 560px){
  .front:hover{
    transform: none;
  }
  aside{
    flex-direction: row;
  }
  header {
    display: none;
  }
  .game-content{
    flex-wrap: wrap;
    justify-content: center;
  }

  aside{
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 0;
  }

  aside > div {
    flex-wrap: wrap;
    flex-direction: row;
    width: 12%;
    height: 55%;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 1%;
    font-size: 1rem;
    padding: 1%;
  }
  .matches,
  .playerLife,
  .cpuLife{
    font-size: .6rem;
  }

  main{
    width: 100%;
    height: 70vh;
  }

}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    * {
      font-size: 1em;
    }

}


@media only screen and (min-width: 1024px) and (max-height: 786px)  {
    main {
      width: 80%
    }

    aside {
      width: 15%;
      font-size: 1.2rem;
    }
    .modalTitle {
      font-size: 3.5rem;
    }
}

@media only screen and (max-device-width: 414px) and (orientation: portrait),
(max-device-width: 823px),
(max-width: 950px) and (orientation: landscape) {
    aside div{
      font-size: 1.4rem;
    }
    .playerLife,
    .cpuLife{
      font-size: 1.3rem;
    }
    .matches{
      display: none;
    }
    .card {
      height: 20%;
    }
    .modal {
      height: 65%;
      font-size: 1.8rem;
    }
    .modalTitle {
      padding-top: 5%;
      font-size: 3rem;
    }
    .modalContent {
      font-size: 3rem;
    }
    #start {
      height: 20%;
      margin-top: 40%;
    }
    .game-content {
      width: 96vw;
    }
    .modalFooter {
      font-size: 4rem;
    }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape),
(max-width: 375px) {
  .modalTitle {
    font-size: 2rem;
    display: none;
  }
  .modal {
    margin-top: 2%;
    font-size: .8rem;
  }
  .modalContent {
    font-size: 2rem;
    height: 65%;
  }
  #start {
    height: 20%;
    margin-top: 25%;
    margin-bottom: 5%;
  }
  .endText {
    padding-top: 15px;
  }
  aside div{
    font-size: .8rem;
  }
  .playerLife,
  .cpuLife{
    font-size: .5rem;
  }
  .matches{
     display: none;
  }
  .light-sword {
    margin-top: 30%;
    height: 20%;
  }
}

@media only screen and
(max-device-width: 823px) and (orientation: landscape),
(max-width: 950px) and (orientation: landscape) {
  .card {
    margin: -30px -1.3px;
    height: 25%;
  }

  aside {
    height: 79vh;
    width: 15%;
    font-size: .9rem;
  }

  aside div {
    font-size: 1.2rem;
    margin: 6% 4%;
  }

  .matches,
  .playerLife,
  .cpuLife {
    padding-top: .2rem;
    font-size:1.2rem;
  }

  main {
    width: 85%;
    height: 79vh;
  }

  .game-content {
    width: 98vw;
  }

  #start {
    margin-top: 15%;
  }

}


@media only screen and (max-device-width: 568px) and (orientation: landscape),
(max-width: 700px) {
    aside {
      font-size: .4rem;
    }
    .modal {
      font-size: 10px;
    }

}
