
body {
  background-color: black;
  background-image: url("../images/puzzleback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face{
  font-family: Matrix-Bold;
  src: url(../images/Matrix-Bold.ttf);
}
.game-content{
  display: flex;
  height: 90vh;
  width: 85vw;

}
header {
  border: 1px solid bisque;
  text-align: center;
  font-size: 300%;
  padding: .5%;
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Matrix-Bold;
  color: rgb(255, 60, 0);
}
aside{
  float: left;
  border: 1px solid bisque;
  margin-right: 5%;
  width: 30%;
  text-align: center;
  font-size: 150%;
  align-items: center;
  padding-top: 1%;
  color: red;
}
aside div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid bisque;
  height: 12.5%;
  margin: 4%;
  background-color: lightblue;
  font-size: 80%;
  color: black;
}
main{
  float: left;
  border: 1px solid bisque;
  width: 130%;
  /* height: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;

  perspective: 600px;
}
.row{
  display: flex;
  height: 80%;
  margin: 2% 0%;
  width: 100%;

}
/* .card-container{
  display: inline-flex;
  justify-content: center;
  flex-flow: row wrap;
  height: 100%;
  width: 100%
} */
.card{
  width: 90%;
  height: 110%;

  border: 1px solid rgba(0, 0, 0, 0.612);
  margin: 0% 1%;
  position:relative;
  background-size: cover;
  transition: transform 1s;
  transform-style: preserve-3d;
  background-image: url("../images/cardback.jpg");
  background-position: center;

}

.back{
  transform: rotateY( -180deg );
  backface-visibility: hidden;

}
.flip{
  transform: rotateY(180deg);

}
.back, .front , .lfz-card, .react-logo, .yugi-back, .bewd{
  background-position: center;
  object-fit: contain;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;

}

.yugi-back {
  background-image: url("../images/cardback.jpg");
  position: absolute;
}

.left-arm{
  background-image: url("../images/leftArm.jpg");

}

.exodia-head{
  background-image: url("../images/exodiaHead.jpg");

}
.blue-eyes{
  background-image: url("../images/bewd.jpg");
}
.right-arm{
  background-image: url("../images/rightArm.jpg");
}
.right-leg{
  background-image: url("../images/rightLeg.jpg");
}
.left-leg{
  background-image: url("../images/leftLeg.jpg");
}
.dark-mag{
  background-image: url("../images/darkMag.jpg");
}
.summoned-skull{
  background-image: url("../images/summSkull.jpg");
}
.red-eyes{
  background-image: url("../images/redEye.jpg");
}
.hidden{
  display: none;

}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  background-color: pink;
  width: 70%;
  height: 60%;
  justify-content: center;
  left: 15%;
  top: 10%;
  border-radius: 10%;
  background-image: url("../images/raid-exodia.jpg");
  background-size: cover;

}

.modal-content{
  /* background-color: bisque; */
  /* border: 1px solid red; */
  opacity: .9;
  background-blend-mode: lighten;

  margin: 1% auto;
  padding: 0%;
  width: 100%;
  height: 30%;
  border-radius: 5%;
  color: whitesmoke;
  font-size: 250%;
  font-family: Matrix-Bold;
  text-align: center;

}
.modal-content > button{
  align-content: center;
  height: 75%;
  width: 75%;
  border-radius: 5%;
}
